:root {
	--c-bg: #F6F6F6;
	--c-white: #ffffff;
	--c-black: #000000;
	--c-dark-bg: #191919;
	--c-active: #ab9273;
	--light: #FAFAFA;
	--dark: #41529E;
	--p-select-background: #ffffff !important;
	--p-select-border-color: #939393 !important;
	--p-select-color: #181818 !important;
	--p-select-overlay-background: #FAFAFA !important;
	--p-select-overlay-color: #181818 !important;
	--p-select-option-focus-background:#C3C8F9 !important;
	--p-select-option-focus-color: #181818 !important;
	--p-select-option-color: #181818 !important;
	--p-select-list-padding: 10px !important;
	--p-select-overlay-border-color: #ffffff !important;
	--p-select-overlay-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) !important;
	--p-select-option-selected-color: #181818 !important;
	--p-select-option-focus-color:#181818 !important;
	--p-select-option-selected-focus-color: #181818 !important;
	--p-select-option-selected-focus-background: #C3C8F9 !important;
	--p-select-option-border-radius: 10px !important;
	--p-select-disabled-background: #FAFAFA !important;
	--p-inputtext-disabled-color: #181818 !important;
	--p-select-overlay-border-radius: 15px !important;
	--p-input-text-color: #181818 !important;
	--p-inputtext-color: #181818 !important;
	--p-inputtext-background: #ffffff !important;
	--p-inputtext-border-color: #939393 !important;
	--p-inputtext-border-radius: 15px !important;
	--p-inputtext-focus-border-color: #41529E !important;
	--p-inputtext-disabled-background: #FAFAFA !important;
	--p-checkbox-background: #ffffff !important;
	--p-select-border-radius: 15px !important;


	--p-checkbox-disabled-background: #FAFAFA !important;
	--p-datepicker-dropdown-background: #41529E !important;
	--p-datepicker-dropdown-color: #FAFAFA !important;
	--p-datepicker-dropdown-border-radius: 15px !important;
	--p-datepicker-dropdown-hover-background: #41529E !important;
	--p-datepicker-panel-background: #fff !important;
	--p-datepicker-date-color: #181818 !important;
	--p-datepicker-week-day-color: #181818 !important;
	--p-datepicker-header-background: #fff !important;
	--p-datepicker-select-month-color: #181818 !important;
	--p-datepicker-select-year-color: #181818 !important;
	--p-datepicker-date-hover-background: #C3C8F9 !important;
	--p-datepicker-date-hover-color: #181818 !important;
	--p-datepicker-select-month-hover-background: #C3C8F9 !important;
	--p-datepicker-select-month-hover-color: #181818 !important;
	--p-datepicker-select-year-hover-background: #C3C8F9 !important;
	--p-datepicker-select-year-hover-color: #181818 !important;
	--p-datepicker-date-selected-background: #41529E !important;
	--p-datepicker-date-selected-color:#FAFAFA !important;
	--p-button-text-secondary-hover-background: #C3C8F9 !important;
	--p-button-text-secondary-color: #181818 !important;
	--p-datepicker-today-background: #777989 !important;
	--p-datepicker-panel-border-color: none !important;
	--p-datepicker-panel-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) !important;
	--p-button-primary-background: #517da2 !important;
	--p-button-primary-hover-background: #2c4a6b !important;
	--p-button-primary-border-color: #517da2 !important;
	--p-button-primary-color: #ffffff !important;
	--p-button-primary-hover-color: #ffffff !important;
	--p-button-primary-hover-border-color: #41529E !important;
	--p-button-primary-active-background: #517da2 !important;
	--p-button-primary-active-color: #ffffff !important;
	--p-button-primary-active-border-color: #41529E !important;
	--p-button-primary-active-hover-background: #41529E !important;
	--p-button-primary-active-hover-color: #ffffff !important;
	--p-button-primary-active-hover-border-color: #41529E !important;

}
